html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.sec-7 .sec-7-div .container, .sec-6 .content .container, .sec-5 .wrapper, .sec-4 .sec-4-div .container, .sec-3 .sec-3-div .container, .sec-2 div, .sec-1 .banner-sec, .breadcrumbs, header .header-div {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
}

header {
  z-index: 100;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  padding-left: 47px;
  padding-right: 47px;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
}
header .header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 103;
  height: 100%;
  position: relative;
  width: 100%;
}
header .header-div .header-menu {
  width: 480px;
}
header .header-div .header-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 40px;
}
header .header-div .header-menu ul li {
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
header .header-div .header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 310px;
  height: 40px;
}
header .header-div .header-buttons button {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.25s ease-out;
}
header .header-div .header-buttons svg:hover path {
  fill: #3295ce;
}
header .header-div .header-buttons a {
  margin-left: 2px;
  color: #182cc0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  transition: 0.25s ease-out;
}
header .header-div .header-buttons a:hover,
header .header-div .header-buttons a:hover svg path {
  color: #3295ce;
  fill: #3295ce;
}
header .header-div .header-buttons svg {
  margin-right: 7px;
  margin-top: 2px;
}
header .header-div .header-buttons svg path {
  transition: 0.25s ease-out;
}
header .header-div .header-buttons .lang_toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 68px;
  height: 36px;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  position: relative;
}
header .header-div .header-buttons .lang_toggle:hover {
  background-color: #eef1f1;
}
header .header-div .header-buttons .lang_toggle:hover svg path {
  fill: black;
}
header .header-div .header-buttons .lang-icon,
header .header-div .header-buttons .lang-text {
  display: inline-block;
  vertical-align: middle;
}
header .header-div .header-buttons .lang-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 68px;
  height: 53px;
  color: #141719;
  background-color: #fff;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  flex-direction: column;
  padding: 8px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
  z-index: 10;
}
header .header-div .header-buttons .lang_toggle:hover .lang-list {
  display: flex;
}
header .header-div .header-buttons .lang-dropdown {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
header .header-div .header-buttons .lang-dropdown:hover {
  background-color: #eef1f1;
}

body {
  background-color: #f9fafa;
}

.breadcrumbs {
  display: flex;
  margin-top: 80px;
  font-size: 12px;
  height: 68px;
  align-items: center;
}

.sec-1 .banner-sec {
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/TBC-Concept/images/banner-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 376px;
  border-radius: 6px;
  color: white;
  padding: 95px;
}
.sec-1 .banner-sec .banner-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  max-width: 540px;
  height: 186px;
}
.sec-1 .banner-sec .banner-inner h1 {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;
}
.sec-1 .banner-sec .banner-inner p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.sec-1 .banner-sec .banner-inner svg {
  fill: white;
  margin-right: 8px;
}
.sec-1 .banner-sec .banner-inner button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  width: 151px;
  height: 50px;
  border: none;
  color: white;
  border-radius: 4px;
  background-image: linear-gradient(15deg, #001682, #3240e5, #3295ce, #3295ce);
  background-size: 400%;
  background-position: left;
  transition: 0.15s background-position ease-in-out;
}
.sec-1 .banner-sec .banner-inner button:hover {
  background-position: right;
}

.sec-2 div {
  height: 228px;
  padding: 60px 0;
}
.sec-2 div p {
  font-size: 36px;
  color: #141719;
  font-weight: 400;
  line-height: 1.5;
}

.sec-3 .sec-3-div {
  height: 734px;
  padding: 60px 0;
}
.sec-3 .sec-3-div .container {
  height: 614px;
}
.sec-3 .sec-3-div .container .heading-wrapper {
  height: 36px;
  margin-bottom: 36px;
}
.sec-3 .sec-3-div .container .heading-wrapper h2 {
  color: #141719;
  font-size: 24px;
  font-weight: 700;
}
.sec-3 .sec-3-div .container .box {
  height: 542px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}
.sec-3 .sec-3-div .container .box .left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 542px;
  width: 540px;
}
.sec-3 .sec-3-div .container .box .left-side .parent {
  height: 256px;
  border-radius: 8px;
  overflow: hidden;
}
.sec-3 .sec-3-div .container .box .left-side .small-card-1,
.sec-3 .sec-3-div .container .box .left-side .small-card-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 256px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  transition: all 0.3s;
}
.sec-3 .sec-3-div .container .box .left-side .small-card-1:hover,
.sec-3 .sec-3-div .container .box .left-side .small-card-2:hover {
  transform: scale(1.02);
}
.sec-3 .sec-3-div .container .box .left-side .small-card-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/TBC-Concept/images/first.png");
}
.sec-3 .sec-3-div .container .box .left-side .small-card-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/TBC-Concept/images/second.png");
}
.sec-3 .sec-3-div .container .box .right-side {
  height: 542px;
  width: 540px;
}
.sec-3 .sec-3-div .container .box .right-side .parent-b {
  height: 542px;
  border-radius: 8px;
  overflow: hidden;
}
.sec-3 .sec-3-div .container .box .right-side .big-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 542px;
  padding: 40px;
  border-radius: 8px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/TBC-Concept/images/third.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
}
.sec-3 .sec-3-div .container .box .right-side .big-card:hover {
  transform: scale(1.02);
}

.card-content {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
.card-content a {
  text-decoration: underline;
  font-size: 14px;
}
.card-content a svg {
  margin-right: 4px;
}
.card-content h3 {
  font-size: 24px;
  font-weight: 700;
}

.sec-4 .sec-4-div {
  height: 300px;
  padding: 60px 0;
}
.sec-4 .sec-4-div .container {
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.sec-4 .sec-4-div .container .numb-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 31.5%;
  height: 180px;
  padding: 40px 48px;
  background-color: #fff;
  border-radius: 8px;
}
.sec-4 .sec-4-div .container .numb-card .number {
  font-size: 44px;
  font-weight: 700;
}
.sec-4 .sec-4-div .container .numb-card p {
  font-size: 16px;
  color: #555f62;
}

.sec-5 {
  height: 610px;
  padding: 60px 0;
}
.sec-5 .wrapper {
  min-height: 405px;
  border: 1px solid white;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 5px;
  scrollbar-width: thin;
  scrollbar-color: #007bff #f1f1f1;
  cursor: grab;
}
.sec-5 .wrapper .item {
  min-width: 33%;
  height: 406;
  line-height: 110px;
  text-align: center;
  background-color: #ddd;
  border-radius: 8px;
  width: 415px;
}
.sec-5 .wrapper::-webkit-scrollbar {
  height: 8px;
}
.sec-5 .wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.sec-5 .wrapper::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 4px;
}
.sec-5 .wrapper::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}

.sec-6 {
  height: 534px;
  padding: 60px 0;
}
.sec-6 .content {
  background-color: #fff;
  height: 414px;
  padding: 0 47px;
}
.sec-6 .content .container .digital-bank {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 414px;
  padding: 32px 0;
}
.sec-6 .content .container .digital-bank .leftside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 55%;
  height: 221px;
}
.sec-6 .content .container .digital-bank .leftside h2 {
  color: #141719;
  font-size: 24px;
  font-weight: 700;
}
.sec-6 .content .container .digital-bank .leftside p {
  color: #555f62;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
.sec-6 .content .container .digital-bank .leftside .app-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 284px;
  height: 51px;
  padding-top: 8px;
}
.sec-6 .content .container .digital-bank .leftside .app-buttons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 134px;
  height: 51px;
  color: #fff;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  transition: 0.25s ease-in-out;
}
.sec-6 .content .container .digital-bank .leftside .app-buttons a:hover {
  background-color: #f9fafa;
}
.sec-6 .content .container .digital-bank .right-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  width: 45%;
  height: 414px;
}
.sec-6 .content .container .digital-bank .right-side img {
  width: 290px;
  max-height: 90%;
  vertical-align: middle;
}

.sec-7 {
  height: 627px;
  padding: 60px 0;
}
.sec-7 .sec-7-div {
  height: 507px;
  padding: 0 47px;
}
.sec-7 .sec-7-div .container {
  height: 507px;
}
.sec-7 .sec-7-div .container .heading-wrapper {
  height: 36px;
  margin-bottom: 36px;
}
.sec-7 .sec-7-div .container .heading-wrapper h2 {
  color: #141719;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
.sec-7 .sec-7-div .container .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 446px;
  padding-bottom: 38px;
}
.sec-7 .sec-7-div .container .card-content .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 31.5%;
  height: 408px;
  border: 1px solid #e1e4e5;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
.sec-7 .sec-7-div .container .card-content .card .img-div {
  width: 100%;
  height: 212px;
  position: relative;
  overflow: hidden;
}
.sec-7 .sec-7-div .container .card-content .card .img-div img {
  width: 348px;
  height: 102%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  transition: all 0.25s ease-in-out;
}
.sec-7 .sec-7-div .container .card-content .card .card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 197px;
  padding: 28px;
  overflow: hidden;
}
.sec-7 .sec-7-div .container .card-content .card .card-description h3 {
  color: #141719;
  font-size: 16px;
  font-weight: 700;
}
.sec-7 .sec-7-div .container .card-content .card .card-description p {
  height: 95px;
  color: #555f62;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  overflow: hidden;
}
.sec-7 .sec-7-div .container .card-content .card .card-description strong {
  font-weight: 700;
}
.sec-7 .sec-7-div .container .card-content .card:hover {
  background-color: #fff;
  box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
}
.sec-7 .sec-7-div .container .card-content [data-animation=img-up]:hover img {
  top: -2%;
}

.sec-8 .banner-sec {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/TBC-Concept/images/womaninoffice.png");
}/*# sourceMappingURL=global.css.map */