//colors
$blue: #2405f2;
$darkblue: #1c1e53;
$blackish: #282938;
$yellow: #fcd980;
$fgrey: #f4f6fc;
$egrey: #eef4fa;
// background colors
$bgdarkblue: #1c1e53;
$bggrey: #f4f6fc;
$bgwhite: #ffffff;
//fonts
$myfont: "Poppins", sans-serif;
