body {
  background-color: #f9fafa;
}
.breadcrumbs {
  @extend %mycontainer;
  display: flex;
  margin-top: 80px;
  font-size: 12px;
  height: 68px;
  align-items: center;
}
//first section

.sec-1 {
  .banner-sec {
    @extend %mycontainer;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/TBC-Concept/images/banner-1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 376px;
    border-radius: 6px;
    color: white;
    padding: 95px;
    .banner-inner {
      @include flex(column, space-between, flex-start, nowrap);
      max-width: 540px;
      height: 186px;
      h1 {
        font-size: 28px;
        line-height: 1.5;
        font-weight: 700;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
      }
      svg {
        fill: white;
        margin-right: 8px;
      }
      button {
        @include flex(row, center, center, nowrap);
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.33;
        width: 151px;
        height: 50px;
        border: none;
        color: white;
        border-radius: 4px;
        background-image: linear-gradient(
          15deg,
          #001682,
          #3240e5,
          #3295ce,
          #3295ce
        );
        background-size: 400%;
        background-position: left;
        transition: 0.15s background-position ease-in-out;
      }
      button:hover {
        background-position: right;
      }
    }
  }
}

.sec-2 {
  div {
    @extend %mycontainer;
    height: 228px;
    padding: 60px 0;
    p {
      font-size: 36px;
      color: #141719;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.sec-3 {
  .sec-3-div {
    height: 734px;
    padding: 60px 0;
    .container {
      @extend %mycontainer;
      height: 614px;
      .heading-wrapper {
        height: 36px;
        margin-bottom: 36px;
        h2 {
          color: #141719;
          font-size: 24px;
          font-weight: 700;
        }
      }
      .box {
        height: 542px;
        @include flex(row, space-between, center, nowrap);
        gap: 30px;
        .left-side {
          @include flex(column, space-between, stretch, nowrap);
          height: 542px;
          width: 540px;
          .parent {
            height: 256px;
            border-radius: 8px;
            overflow: hidden;
          }
          .small-card-1,
          .small-card-2 {
            @include flex(column, flex-end, flex-start, nowrap);
            height: 256px;
            border-radius: 8px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 40px;
            transition: all 0.3s;
          }

          .small-card-1:hover,
          .small-card-2:hover {
            transform: scale(1.02);
          }
          .small-card-1 {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
              ),
              url("/TBC-Concept/images/first.png");
          }
          .small-card-2 {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
              ),
              url("/TBC-Concept/images/second.png");
          }
        }
        .right-side {
          height: 542px;
          width: 540px;
          .parent-b {
            height: 542px;
            border-radius: 8px;
            overflow: hidden;
          }
          .big-card {
            @include flex(column, flex-end, flex-start, nowrap);
            height: 542px;
            padding: 40px;
            border-radius: 8px;
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
              ),
              url("/TBC-Concept/images/third.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: all 0.3s;
          }
          .big-card:hover {
            transform: scale(1.02);
          }
        }
      }
    }
  }
}

.card-content {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  a {
    text-decoration: underline;
    font-size: 14px;
    svg {
      margin-right: 4px;
    }
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
}

.sec-4 {
  .sec-4-div {
    height: 300px;
    padding: 60px 0;
    .container {
      @extend %mycontainer;
      height: 180px;
      @include flex(row, space-between, flex-start, nowrap);
      .numb-card {
        @include flex(column, space-around, flex-start, nowrap);
        width: 31.5%;
        height: 180px;
        padding: 40px 48px;
        background-color: #fff;
        border-radius: 8px;

        .number {
          font-size: 44px;
          font-weight: 700;
        }
        p {
          font-size: 16px;
          color: #555f62;
        }
      }
    }
  }
}

//section 5

.sec-5 {
  height: 610px;
  padding: 60px 0;
  .wrapper {
    @extend %mycontainer;
    min-height: 405px;
    border: 1px solid white;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 5px;
    scrollbar-width: thin;
    scrollbar-color: #007bff #f1f1f1;
    cursor: -webkit-grab;
    cursor: grab;
    .item {
      min-width: 33%;
      height: 406;
      line-height: 110px;
      text-align: center;
      background-color: #ddd;
      border-radius: 8px;
      width: 415px;
    }
  }
  .wrapper::-webkit-scrollbar {
    height: 8px;
  }

  .wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .wrapper::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 4px;
  }

  .wrapper::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
  }
}

//section 6
.sec-6 {
  height: 534px;
  padding: 60px 0;
  .content {
    background-color: #fff;
    height: 414px;
    padding: 0 47px;
    .container {
      @extend %mycontainer;
      .digital-bank {
        @include flex(row, flex-start, center, nowrap);
        height: 414px;
        padding: 32px 0;
        .leftside {
          @include flex(column, space-between, flex-start, nowrap);
          width: 55%;
          height: 221px;
          h2 {
            color: #141719;
            font-size: 24px;
            font-weight: 700;
          }
          p {
            color: #555f62;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.7;
          }
          .app-buttons {
            @include flex(row, space-between, center, nowrap);
            width: 284px;
            height: 51px;
            padding-top: 8px;
            a {
              @include flex(row, center, center, nowrap);
              width: 134px;
              height: 51px;
              color: #fff;
              border: 1px solid #e1e4e5;
              border-radius: 4px;
              padding: 16px 32px;
              font-size: 12px;
              font-weight: 700;
              line-height: 1.33;
              transition: 0.25s ease-in-out;
            }
            a:hover {
              background-color: #f9fafa;
            }
          }
        }
        .right-side {
          @include flex(row, flex-end, center, nowrap);
          width: 45%;
          height: 414px;
          img {
            width: 290px;
            max-height: 90%;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

//section 7

.sec-7 {
  height: 627px;
  padding: 60px 0;
  .sec-7-div {
    height: 507px;
    padding: 0 47px;
    .container {
      @extend %mycontainer;
      height: 507px;
      .heading-wrapper {
        height: 36px;
        margin-bottom: 36px;
        h2 {
          color: #141719;
          font-size: 24px;
          font-weight: 700;
          line-height: 1.5;
        }
      }
      .card-content {
        @include flex(row, space-between, center, nowrap);
        height: 446px;
        padding-bottom: 38px;

        .card {
          @include flex(column, space-between, center, nowrap);
          width: 31.5%;
          height: 408px;
          border: 1px solid #e1e4e5;
          border-radius: 8px;
          overflow: hidden;
          cursor: pointer;
          transition: box-shadow 0.4s ease-in-out,
            background-color 0.4s ease-in-out;

          .img-div {
            width: 100%;
            height: 212px;
            position: relative;
            overflow: hidden;

            img {
              width: 348px;
              height: 102%;
              -o-object-fit: cover;
              object-fit: cover;
              position: absolute;
              transition: all 0.25s ease-in-out;
            }
          }
          .card-description {
            @include flex(column, space-between, flex-start, nowrap);
            width: 100%;
            height: 197px;
            padding: 28px;
            overflow: hidden;
            h3 {
              color: #141719;
              font-size: 16px;
              font-weight: 700;
            }
            p {
              height: 95px;
              color: #555f62;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.7;
              overflow: hidden;
            }
            strong {
              font-weight: 700;
            }
          }
        }

        .card:hover {
          background-color: #fff;
          box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
        }
        [data-animation="img-up"]:hover img {
          top: -2%;
        }
      }
    }
  }
}

//section 8
.sec-8 {
  .banner-sec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/TBC-Concept/images/womaninoffice.png");
  }
}
